@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* * {
    align-items: center;
    vertical-align: middle;
} */

html {
    font-size: 30px;
    font-family: "Verdana", "Courier New", monospace;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    /* top: 30px; */
    /* margin-top: 10%; */
    height: 100%;
    margin: 0;
    font-size: 20px;
    font-family: "Verdana", "Courier New", monospace;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    background-size: cover;

}

body {
    font-family: montserrat, arial, verdana;
    background: transparent;

    background-image: url("background5.jpg");
    background-size: cover;

}

h1 {
    color: whitesmoke;
    font-weight: bold;

}

#cityName {
    color: whitesmoke;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

    margin: 10px;
    border-radius: 10px;
    border: transparent;
    opacity: 40%;

}

#displayBox {
    border: solid black 1px;
}

#name {
    width: 250px;
}

#search,
#reset {
    background-color: rgb(189, 213, 234);
}

#hist {
    color: antiquewhite
}