@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* * {
    align-items: center;
    vertical-align: middle;
} */

html {
    font-size: 30px;
    font-family: "Verdana", "Courier New", monospace;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    /* top: 30px; */
    /* margin-top: 10%; */
    height: 100%;
    /* Ensure the body takes up the full viewport height */
    margin: 0;
    /* Remove default margins */
    font-size: 20px;
    font-family: "Verdana", "Courier New", monospace;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    background-size: cover;
}

body {
    font-family: montserrat, arial, verdana;
    background: transparent;

    background-image: url("background5.jpg");
    background-size: cover;
}

h1 {
    color: whitesmoke;
    font-weight: bold;
}

#cityName {
    color: whitesmoke;
    font-family: montserrat;
    color: #2c3e50;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

    margin: 10px;
    border-radius: 10px;
    border: transparent;
    opacity: 40%;
}

#displayBox {
    border-radius: 10px;
    border-color: transparent;
    /* background-color: rgba(143, 157, 173, 0.045); */
    background-color: rgba(111, 122, 135, 0.161);

    /* background-color: rgb(254, 254, 254); */
    opacity: 40%;
    width: auto;
    overflow-y: scroll;

    max-height: 20em;
}

.record {
    color: whitesmoke;
    font-family: montserrat;
    color: #2c3e50;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

    margin: 10px;
    border-radius: 10px;
    border: transparent;
    opacity: 40%;
}

#submit {
    background-color: rgb(189, 213, 234);
    font-family: montserrat;

    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

    margin: 10px;
    border-radius: 20em;
    border: transparent;
    opacity: 40%;
}

#return {
    /* position: absolute; */

    font-size: 20px;
    text-decoration: none;
    color: rgb(251, 244, 233);
    /* bottom: 0; */

    text-align: center;
    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    /* background-size: cover; */
}

#return:hover {
    color: rgb(255, 255, 255)
}