@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* * {
    align-items: center;
    vertical-align: middle;

} */

html {
    font-family: "Verdana", "Courier New", monospace;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    /* top: 30px; */
    /* margin-top: 10%; */
    height: 100%;
    /* Ensure the body takes up the full viewport height */
    margin: 0;
    /* Remove default margins */
    font-family: "Verdana", "Courier New", monospace;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    background-size: cover;

}

body {
    font-family: montserrat, arial, verdana;
    background: transparent;

    background-image: url("background5.jpg");
    background-size: cover;

}



#title {
    color: whitesmoke;
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    margin-bottom: 100px;

}

#form {
    margin-top: 100px;
}

#name,
#search,
#reset,
#hist {
    font-family: montserrat;
    /* color: #23313f; */
    color: #1a2f43;

    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

    margin: 10px;
    border-radius: 20em;
    border: transparent;
    opacity: 40%;
}

#name {
    width: 250px;
}

#search,
#reset {
    background-color: rgb(189, 213, 234);
}

#hist {
    text-decoration: none;

    width: 400px;
    background-color: rgb(113, 151, 198);
    vertical-align: middle;
    align-items: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    opacity: 40%;
    color: #ffffff;


}

/* <i class="fa fa-search"></i> */
input:focus {
    outline: none;
}

#reset:hover,
#search:hover,
#hist:hover {
    opacity: .5;
}

#reset:active,
#search:active,
#hist:active {
    opacity: .5;
}