<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Display</title>
</head>

<body>
    <div>
        <%- cityName %> <br>
            <%- temp %> <br>
                <%- humidity %> <br>
                    <%- precipitation %> <br>

                        <a href="/">Return to homepage</a>
    </div>
</body>

</html>