<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Display</title>
</head>

<body>
    <h1>Display GPAs Greater than or Equal to</h1>
    <div>
        <%- display %>
            <br>
            <a href="/">Return to homepage</a>
    </div>
</body>

</html>