<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Display</title>
    <link rel="stylesheet" href="historyStyle.css" type="text/css">

</head>

<body>
    <div id="displayBox">
        <%- display %> <br>
    </div>

    <input id="submit" type="submit" value="Remove all records" onclick="ask()" />


    <a href="/">Return to homepage</a>
</body>

</html>

<script>

    function ask() {
        const prompt = "Remove all records?";
        const result = confirm(prompt);
        if (result) {
            console.log("ok")
        } else {
            console.log("canceled")
        }
    }

</script>