<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Display</title>
    <link rel="stylesheet" href="historyStyle.css" type="text/css">

</head>

<body>
    <div id="displayBox">
        <%- display %>
    </div>

    <a href="/">Return to homepage</a>
</body>

</html>