<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Display</title>
    <link rel="stylesheet" href="historyStyle.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.0/css/all.css">

</head>

<body>
    <div id="displayBox">
        <%- display %>
    </div>
    <form action="/history" method="post">
        <input id="submit" type="submit" value="Remove all records" onclick="ask()" />
    </form>
    <a href="/" id="return" class="fas fa-home"></a>

</body>

</html>

<script>

    window.onsubmit = function (event) {
        const prompt = "Remove all records?";
        return confirm(prompt);

    };



</script>