<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Weather Homepage</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <a href="/" id="title">Weather Now</a>
    <form action="/display" method="post" id="form">
        <input id="name" type="text" name="name" placeholder="Enter a city name" />
        <input id="search" type="submit" value="Search" />
        <input id="reset" type="reset" />

    </form>

    <div id="hist">
        <a href="history" id="histSearch">My Search History</a>
    </div>

</body>

</html>

<script>
    window.onsubmit = function (event) {
        var form = event.target;
        var cityName = form.elements['name'].value;
        if (!cityName.trim()) {
            alert('Please enter a city name.');
            return false;
        }
        return true;
    };

</script>