<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Welcome</title>
</head>

<body>
    <h1>Welcome</h1>
    <form action="/homepage" method="post">
        <input type="text" name="name" value="Enter the city name" />
        <input type="reset" />
        <input id="search" type="submit" value="search" />
    </form>

</body>

</html>